[project]
	description = The Qt Graphical Effects repository \n\
\n\
ssh://codereview.qt-project.org:29419/qt/qtgraphicaleffects.git
[receive]
	requireContributorAgreement = true
	requireChangeId = true
	allowTopicReview = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Qt Graphical Effects
	stage = group Qt Graphical Effects
[access "refs/heads/newdocs"]
	exclusiveGroupPermissions = stage
	submit = group Approvers
	submit = group Qt Graphical Effects
