[project]
	description = The Qt Graphical Effects repository ssh://codereview.qt-project.org:29418/qt/qtgraphicaleffects.git
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access]
	inheritFrom = All-Non-CI-Projects
